#Verification
## verifie si python est Node sont installé
__et si 2+2 font 4 *on ne sait jamais ca peut changer*__ 
Vous trouverez la fonction (ici)[https://github.com/NoemIADev/Prairie/blob/master/verification.ps1]

