#Verification
Verifie si python et Node sont installés
et si 2+2 font 4 (on ne sait jamais ca peut changer)

Vous trouverez la fonction [ici](https://github.com/NoemIADev/Prairie/blob/master/verification.ps1)